<?xml version="1.0" encoding="utf-8"?>
<Configuration>

	<!--These are some of the loggers you can enable. There are several more 
		you can find in the documentation. Besides this log4j configuration, you 
		can also use Java VM environment variables to enable other logs like network 
		(-Djavax.net.debug=ssl or all) and Garbage Collector (-XX:+PrintGC). These 
		will be append to the console, so you will see them in the mule_ee.log file. -->

	<Appenders>
		<RollingFile name="file"
			fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}ch2-mule-traces-test.log"
			filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}ch2-mule-traces-test-%i.log">
			<JsonLayout properties="true" compact="true"
				eventEol="true" stacktraceAsString="true" includeTimeMillis="true">
				<KeyValuePair key="@timestamp"
					value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSXXX}" />
				<KeyValuePair key="service.name"
					value="`process-payments-sepa`" />
			</JsonLayout>
			<SizeBasedTriggeringPolicy size="10 MB" />
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<JSONLayout compact="false" eventEol="true"
				properties="true">
				<KeyValuePair key="@timestamp"
					value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSXXX}" />
				<KeyValuePair key="service.name"
					value="`process-payments-sepa`" />
			</JSONLayout>
		</Console>
	</Appenders>

	<Loggers>
		<!-- Http Logger shows wire traffic on DEBUG -->
		<!--AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" 
			level="DEBUG"/ -->
		<AsyncLogger name="org.mule.service.http" level="WARN" />
		<AsyncLogger name="org.mule.extension.http" level="WARN" />

		<!-- Mule logger -->
		<AsyncLogger
			name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor"
			level="INFO" />

		<AsyncRoot level="INFO">
			<AppenderRef ref="file" />
			<AppenderRef ref="Console" />
		</AsyncRoot>
	</Loggers>

</Configuration>
